h1 {
  color: green;
}

body{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  line-height: 3em;
}

.moveChallenge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activate{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  border: blue 2px;
  border-style: dashed;
  padding: 3em;
  margin: 1em;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
}


.target{
  border: blue 2px;
  border-style: groove;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#fancyText{
  transition: font-size 0.5s ease, color 0.5s ease, font-family 0.5s ease;
}

.results{
  max-width: 30em;
}

.results th, td{
  border: black 1px;
  border-style: double;
  align-items: center;
  justify-content: center;
}

.results th{
  max-width: .2em;
  align-items: center;
}

#theThing {
  min-width: 32px;
  max-width: 32px;
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce{
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}